.about-container {
	margin-left: 2rem;
	font-size: 100%;
	text-decoration: none;
	color: white;
}

.about-container .header {
	text-align: center;
	font-size: 2rem;
}

.about-container a {
	font-weight: bold;
	color: white;
}