*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
}

body {
	font-family: 'Slabo 27px', serif;
	color: black;
	background-color: #c1cdc1;
	min-height: 100%;
	padding-bottom: 200px;
}

.navbar {
	position: relative;
	padding: 0.5rem;
	background-color: #455A64;
	z-index: 1;
}

.navbar .logo {
	position: relative;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
}

.navbar .links-container {
	display: table;
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
	color: white;
	text-decoration: none;
}

.links-container .navbar-link {
	display: table-cell;
	position: relative;
	height: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 30px;
	vertical-align: middle;
	color: white;
	font-size: 0.85rem;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.container {
	margin 0 auto;
	max-width: 64rem;
}

.container-narrow {
	max-width: 56rem;
}