<div class="about-container">
	<div class="header">
		<h1>About Blocmetrics</h1>
	</div>
	<div class="content">
		<h2 class="blocjams">What is Bloc Jams?</h2>
		<p>
			<ul class="blocjams-points">
				<li class="point">Bloc Jams is a Spotify-replica music player web app.</li>
				<li class="point">The code for this project can be found on <a href="https://github.com/srosenshein/bloc-jams-angular">Github</a></li>
			</ul>
		</p>

		<h2 class="blocmetrics">What is Blocmetrics?</h2>
		<p>
			<ul class="blocmetrics-points">
				<li class="point">Blocmetrics is an Analytics Tracker Dashboard for Bloc Jams.</li>
			</ul>
		</p>

		<h2 class="metrics">Blocmetrics currently tracks the following metrics:</h2>
		<p>
			<ul class="metric-list">
				<li class="metric">Landing Page Views</li>
				<li class="metric">Collection Page Views</li>
				<li class="metric">Album Page Views</li>
				<li class="metric">Individual Song Plays</li>
			</ul>
			More metrics to come...
		</p>

		<h3 class="technologies">Technologies/Libraries Used:</h3>
		<p>
			<ul class="tech-list">
				<li class="tech">AngularJS</li>
				<li class="tech">Firebase</li>
				<li class="tech">Angular-nvd3 (An Angular variation of D3.js and nvd3)</li>
				<li class="tech">Grunt</li>
				<li	class="tech">CSS Bootstrap</li>
				<li class="tech">Moment JS</li>
			</ul>
		</p>
	</div>
	<small>Blocmetrics project by <a href="https://github.com/srosenshein/blocmetrics">Sam Rosenshein</a> with assistance by <a href="http://bloc.io">Bloc</a></small>
</div>